*{
	padding: 0;
	margin: 0;
}
body{
	background: rgba(254, 253, 253, 0.67)
}
.clr{
	clear: both;
}
#editable, #editButt, #newDevice, #newDeviceButtons{
	display: none;
}
#header{
	height: 50px;
	width: 100%;
}
#logo{
	height: 100%;
	width: 15%;
	float: left;
	border: 1px solid black;
	background: rgba(94, 138, 198, 1);
}
a.headerButtons{
	float: right;
	display: block;
	line-height: 50px;
	text-decoration: none;
	padding: 0 2%;
	font-size: 100%;
	background: rgba(47, 31, 255, 0.73);
	color: aliceblue;
	border-radius: 10px;
}
#subHeader{
	height: 20px;
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
	border-top: 1px solid rgba(58, 32, 47, 0.73);
}
#backfonthead {
	background: rgba(239, 245, 252, 0.67);
}
#subHeader p{
	float: left;
	margin-left: 0.5%;
}
#subHeader h6{
	float: right;
	font-size: 14px;
	margin-right: 0.5%;
}
#subHeader a{
	float: right;
	font-weight: normal;
	text-decoration: none;
	color: rgba(0, 168, 236, 0.67);
}
#navigation{
	margin-top: 1%;
	height: 40px;
	width: 80%;
}
#navigation ul{
	list-style: none;
}
#navigation ul li a{
	float: left;
	display: block;
	text-decoration: none;
	line-height: 35px;
	padding: 0% 10%;
	border: 1px solid rgba(156, 157, 158, 1);
	margin-left: 20px;
	border-radius: 8px;
	color: rgba(156, 157, 158, 1);;
}
#navigation ul li a:hover{
	border: 2px solid rgba(94, 138, 198, 1);
	color: rgba(94, 138, 198, 1);
	font-weight: 600;
}
.tablepos {
	margin-left: 10%;
}
#tableWrap{
	margin: auto;
	margin-top: 1%;
	width: 800px;
	color: rgba(101, 96, 96, 1);
}
#table{
	margin: auto;
	width: 100%;
}
#tableHeader h1{
	float: left;
	padding: 10px 15px;
	font-size: 100%;
	text-align: center;
}
.tableRow h2{
	float: left;
	padding: 10px 15px;
	font-size: 90%;
	text-align: center;
	font-weight: normal;
	border-top: 1px solid black;
}
}
.hr{
	width: 100%;
	height: 1px;
}
#mainButt{
	margin: auto;
	width: 100%;
	margin-left: 7%;
}
#bottomButtons{
	margin: auto;
	width: 48%;
	margin-top: 1%;
}
a.button{
	display: block;
	text-decoration: none;
	float: left;
	line-height: 35px;
	font-size: 20px;
	padding: 0 15px;
	margin-left: 5%;
	color: rgba(156, 157, 158, 1);
	border-radius: 50px;
	cursor: pointer;
}
a.button:hover{
	color: rgba(94, 138, 198, 1);
	font-weight: 600;
}
input[name='check']{
	width: 18px;
	height: 18px;
}
#wrapper{
	width: 900px;
	margin: auto;
}
#wrapperlog{
	width: 150px;
	margin: auto;
}
#wrapperlog a{
	display: none;
}
#wrappersub{
	width: 10px;
	margin: auto;
}
input[name='pass']{
	margin-top: 20px;
}
input[name='sbm']{
	width: 100px;
	margin-top: 20px;
	margin-left: 35px;
}
#onver{
	width: 600px;
	margin: 50px auto auto;
	margin-top: 20px;
}
#changeset{
	width: 200px;
	margin: auto;
	text-align: center;
}
.headerButtons{
	margin-left: 20px;
	border: 2px solid rgba(138, 21, 80, 0.44);
	background: rgba(147, 169, 213, 1);
}
.headerButtons:hover{
	background: rgba(47, 103, 180, 1);
}
#editButt{
	margin: auto;
	width: 100%;
	margin-left: 7%;
}
#editButtons{
	margin: auto;
	width: 50%;
}
#editButtons a{
	margin: auto;
}