#container{
    width: 900px;
    margin: auto;
}
.block{
    float: left;
    width: 250px;
    height: 250px;
    background-color: #9aff09;
    margin: 25px;
}
*{
    margin: 0;
    padding: 0;
}
#shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    display: none;
}
#big{
    width: 500px;
    height: 500px;
    margin: 50px auto;
    background: #000000;
    display: none;
}
#img1{background: url("../images/1.jpg") }
#img1{background: url("../images/2.jpg") }
#img1{background: url("../images/3.jpg") }
#img1{background: url("../images/4.jpg") }
#img1{background: url("../images/5.jpg") }
#img1{background: url("../images/6.jpg") }
#img1{background: url("../images/7.jpg") }
#img1{background: url("../images/8.jpg") }
#img1{background: url("../images/9.jpg") }
